{% extends "page.html" %}
{% load static %}
{% block title %}{% if access == 'staff' %}#{{ id }} {% endif %}{{ name }}{% endblock %}
{% block contentTitle %}
    Ответов на задание
{% endblock %}

{% block loadReactPageFiles %}
<link href="{% static 'personal/TaskResultView/TaskResultView.css' %}" rel="stylesheet"/>
<script src="{% static 'personal/TaskResultView/TaskResultView.js' %}" type='text/babel'></script>
{% endblock %}


{% block content %}
<div id="staff-org-page"></div>
{% endblock %}

{% block loadReactPageComponent %}
<script type='text/babel'>
    const token = '{{csrf_token}}';
    const deleted = {% if deleted %}true{% else %}false{% endif %};
    const access = '{{ access }}';
    const task_id = {% if task_id == 0 %}null{% else %}{{ task_id }}{% endif %};
    const uid = {% if uid == 0 %}null{% else %}{{ uid }}{% endif %};

    const domContainer = document.querySelector('#staff-org-page');
    ReactDOM.render(<TaskResultView token={token} task_id={task_id} uid={uid}/>, domContainer);
</script>
{% endblock %}
