.personal-table .table-ceil.email,
.personal-table .table-ceil.login {
    width: 300px;
}
.personal-table .table-ceil.name {
    width: calc(100% - 640px);
}
.new-pass {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
}
.new-pass span {
    background: #DAE2F5;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 0 5px;
}
